<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8" />
  <title>Main Page</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <header>
    <h1>ToDo App</h1>
    <nav>
      {% if session.user_id %}
        <a href="/tasks">My tasks</a>
        <a href="/logout">Logout</a>
      {% else %}
        <a href="/login">Login</a>
        <a href="/register">Register</a>
      {% endif %}
    </nav>
  </header>

  <main>
    <h2>Hello!</h2>
    <p>Simple ToDo App. CRUD w Python + Flask + SQLite</p>
    <p>Frontend – HTML + JavaScript</p>
    <a href="https://github.com/DanielTymoshenko-ux/CRUD-project/">Git Hub link</a>
  </main>
</body>
</html>
